@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 200px;
  width: 70%;
}

.leaflet-marker-icon {
  background: url("../assets/img/marker-icon-2x.png");
  background-size: cover;
}

@media (max-width: 1024px) {
  .leaflet-container {
    height: 200px;
    width: 100%;
  }
}
