.sixthBlock {
  width: 100%;
  max-height: auto;
  margin-bottom: 200px;
}
.sixthBlock .container {
  margin: 0 auto;
  width: 94.4%;
  padding-top: 200px;
  max-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.sixthBlock .container .title {
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  color: #282828;
  margin-bottom: 70px;
}
.sixthBlock .container .team {
  width: 81.25%;
  max-height: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.sixthBlock .container .team .maks {
  width: 40%;
  max-height: auto;
}
.sixthBlock .container .team .maks .img {
  width: 100%;
  height: 640px;
  background: url("../assets/img/maks.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.sixthBlock .container .team .maks .buttons {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .maks .buttons .btn {
  width: 40%;
  height: 65px;
  border-radius: 5px;
  background-color: #305381;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 40px;
}
.sixthBlock .container .team .maks .buttons .btnMinus {
  width: 40%;
  height: 65px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  color: #305381;
  border: 3px solid #305381;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 40px;
}
.sixthBlock .container .team .maks .buttons .btnClose {
  width: 12%;
  height: 65px;
  background-color: #ffffff;
  border: 3px solid #305381;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sixthBlock .container .team .maks .buttons .btnClose img {
  height: 50px;
  width: 50px;
  transform: rotate(-90deg);
  transition: transform 0.4s ease;
}
.sixthBlock .container .team .maks .buttons .btnCloseMinus {
  width: 12%;
  height: 65px;
  background-color: #305381;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sixthBlock .container .team .maks .buttons .btnCloseMinus img {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}
.sixthBlock .container .team .maks .sertificates {
  width: 100%;
  max-height: auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  background-color: #e2e4ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .maks .sertificates .image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background-position: center;
}
.sixthBlock .container .team .maks .sertificatesMinus {
  display: none;
}
.sixthBlock .container .team .maks .gallery {
  border-radius: 5px;
  width: 100%;
  height: auto;
  padding: 30px;
  background-color: #e2e4ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .maks .gallery .image {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  background-position: center;
}
.sixthBlock .container .team .maks .galleryMinus {
  display: none;
}
.sixthBlock .container .team .valera {
  width: 40%;
  height: 100%;
}
.sixthBlock .container .team .valera .img {
  width: 100%;
  height: 640px;
  background: url("../assets/img/valera.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.sixthBlock .container .team .valera .buttons {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .valera .buttons .btn {
  width: 83%;
  height: 65px;
  border-radius: 5px;
  background-color: #305381;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 40px;
}
.sixthBlock .container .team .valera .buttons .btnMinus {
  width: 83%;
  height: 65px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  color: #305381;
  border: 3px solid #305381;
  font-family: Montserrat;
  font-weight: 600;
  margin-bottom: 40px;
}
.sixthBlock .container .team .valera .buttons .btnClose {
  width: 12%;
  height: 65px;
  background-color: #ffffff;
  border: 3px solid #305381;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sixthBlock .container .team .valera .buttons .btnClose img {
  height: 50px;
  width: 50px;
  transform: rotate(-90deg);
  transition: transform 0.4s ease;
}
.sixthBlock .container .team .valera .buttons .btnCloseMinus {
  width: 12%;
  height: 65px;
  background-color: #305381;
  border-radius: 5px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sixthBlock .container .team .valera .buttons .btnCloseMinus img {
  height: 50px;
  width: 50px;
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}
.sixthBlock .container .team .valera .sertificates {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  width: 100%;
  height: auto;
  background-color: #e2e4ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .valera .sertificates .image {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
  background-position: center;
}
.sixthBlock .container .team .valera .sertificatesMinus {
  display: none;
}
.sixthBlock .container .team .valera .gallery {
  border-radius: 5px;
  width: 100%;
  height: 1200px;
  padding: 30px;
  background-color: #e2e4ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.sixthBlock .container .team .valera .gallery .image {
  width: 100%;
  height: 260px;
  background: url("../assets/img/Block1.png");
  background-position: center;
  background-size: cover;
}
.sixthBlock .container .team .valera .galleryMinus {
  display: none;
}

.name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 40px;
}
.name span {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
}

.info {
  min-height: 400px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 35px;
}

@media (max-width: 1600px) {
  .info {
    min-height: 500px;
  }
}
@media (max-width: 1489px) {
  .sixthBlock .container .team .valera .name {
    margin-bottom: 76px;
  }
  .info {
    min-height: 550px;
  }
}
@media (max-width: 1440px) {
  .sixthBlock {
    width: 100%;
    margin-bottom: 140px;
  }
  .sixthBlock .container {
    padding-top: 180px;
  }
  .sixthBlock .container .title {
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    color: #282828;
    margin-bottom: 60px;
  }
  .sixthBlock .container .team .maks {
    width: 47%;
    height: 100%;
  }
  .sixthBlock .container .team .maks .img {
    width: 100%;
    height: 535px;
  }
  .sixthBlock .container .team .valera {
    width: 47%;
    height: 100%;
  }
  .sixthBlock .container .team .valera .img {
    width: 100%;
    height: 535px;
  }
  .sixthBlock .container .team .valera .name {
    margin-bottom: 40px;
  }
  .info {
    min-height: 440px;
  }
}
@media (max-width: 1291px) {
  .info {
    min-height: 500px;
  }
}
@media (max-width: 1267px) {
  .sixthBlock .container .team .valera .name {
    margin-bottom: 76px;
  }
}
@media (max-width: 1024px) {
  .sixthBlock {
    margin-bottom: 100px;
  }
  .sixthBlock .container {
    padding-top: 100px;
  }
  .sixthBlock .container .title {
    font-size: 40px;
    line-height: 50px;
  }
  .sixthBlock .container .team {
    width: 88%;
  }
  .sixthBlock .container .team .maks {
    width: 47%;
    height: 100%;
  }
  .sixthBlock .container .team .maks .img {
    width: 100%;
    height: 435px;
  }
  .sixthBlock .container .team .maks .buttons .btnMinus {
    font-size: 18px;
  }
  .sixthBlock .container .team .maks .buttons .btn {
    font-size: 18px;
  }
  .sixthBlock .container .team .valera {
    width: 47%;
    height: 100%;
  }
  .sixthBlock .container .team .valera .img {
    width: 100%;
    height: 435px;
  }
  .sixthBlock .container .team .valera .buttons .btnMinus {
    font-size: 18px;
  }
  .sixthBlock .container .team .valera .buttons .btn {
    font-size: 18px;
  }
  .sixthBlock .container .team .valera .name {
    margin-bottom: 40px;
  }
  .sixthBlock .name {
    font-size: 20px;
  }
  .sixthBlock .name span {
    font-size: 26px;
  }
  .sixthBlock .info {
    font-size: 20px;
    min-height: 460px;
  }
}
@media (max-width: 1014px) {
  .sixthBlock .container .team .valera .name {
    margin-bottom: 76px;
  }
}
@media (max-width: 930px) {
  .sixthBlock .info {
    min-height: 420px;
  }
}
@media (max-width: 893px) {
  .sixthBlock .info {
    min-height: 500px;
  }
}
@media (max-width: 769px) {
  .sixthBlock {
    max-height: auto;
    margin-top: 0px;
  }
  .sixthBlock .container {
    max-height: auto;
    width: 91.4%;
    padding-top: 82px;
  }
  .sixthBlock .container .title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .sixthBlock .container .team {
    width: 100%;
    max-height: auto;
    flex-direction: column;
  }
  .sixthBlock .container .team .maks {
    width: 100%;
    max-height: auto;
    margin-bottom: 40px;
  }
  .sixthBlock .container .team .maks .img {
    width: 100%;
    height: 349px;
    margin-bottom: 20px;
  }
  .sixthBlock .container .team .valera {
    width: 100%;
    max-height: auto;
  }
  .sixthBlock .container .team .valera .img {
    width: 100%;
    height: 349px;
    margin-bottom: 20px;
  }
  .sixthBlock .container .team .valera .name {
    margin-bottom: 20px;
  }
  .sixthBlock .name {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .sixthBlock .name span {
    font-size: 30px;
    line-height: 37px;
  }
  .sixthBlock .info {
    font-size: 18px;
    line-height: 26px;
    min-height: 0px;
  }
}
@media (max-width: 426px) {
  .sixthBlock {
    max-height: auto;
    margin-top: 0px;
  }
  .sixthBlock .container {
    max-height: auto;
    width: 91.4%;
  }
  .sixthBlock .container .title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .sixthBlock .container .team {
    width: 100%;
    max-height: auto;
    flex-direction: column;
  }
  .sixthBlock .container .team .maks {
    width: 100%;
    max-height: auto;
    margin-bottom: 40px;
  }
  .sixthBlock .container .team .maks .img {
    width: 100%;
    height: 349px;
    margin-bottom: 20px;
  }
  .sixthBlock .container .team .valera {
    width: 100%;
    max-height: auto;
  }
  .sixthBlock .container .team .valera .img {
    width: 100%;
    height: 349px;
    margin-bottom: 20px;
  }
  .sixthBlock .name {
    font-size: 22px;
    line-height: 29px;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .sixthBlock .name span {
    font-size: 30px;
    line-height: 37px;
  }
  .sixthBlock .info {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 341px) {
  .sixthBlock {
    max-height: 4465px;
  }
  .sixthBlock .container {
    max-height: 4465px;
  }
  .sixthBlock .container .team {
    max-height: 4435px;
  }
}/*# sourceMappingURL=sixthBlock.module.css.map */